.drawer-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 16px;
}

mat-toolbar-row, mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  mat-toolbar a {
    color: white;
    font-weight: bold;
  }

mat-nav-list a {
  color: black;
  padding: 10px;
}
